
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <a class="getstarted scrollto active" href="@Url.Action("GioHang","GioHang")">
     <img src="~/Content/pic/bag.png" alt="Alternate Text" style="width:7%; height:7%"/> <p style="color:red">@ViewBag.Tongsoluongsanpham</p>
    </a>
</body>
</html>
